h1 {
    text-align: center;
    color: rgb(91, 142, 237);
  }
  
img{
  border-radius: 8px;
  padding: 5px;
  width: 200px;
}

nav {
  background-color: cornflowerblue;
  padding: 10px;
  /* text-align: center; */
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: pink;
  text-decoration: none;
}

body {
  background-color: rgb(176, 197, 204);
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}
